USE [master]
GO
/****** Object:  Database [SignalRChat]    Script Date: 4/19/2020 3:58:24 PM ******/
CREATE DATABASE [SignalRChat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SignalRChat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SignalRChat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SignalRChat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SignalRChat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SignalRChat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SignalRChat]
GO
USE [SignalRChat]
GO
/****** Object:  Table [dbo].[UserChat]    Script Date: 4/19/2020 3:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserChat](
	[Chatid] [bigint] NOT NULL,
	[Connectionid] [nvarchar](50) NULL,
	[Senderid] [nvarchar](50) NULL,
	[Receiverid] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[Messagestatus] [nvarchar](10) NULL,
	[Messagedate] [datetime] NULL,
	[IsGroup] [bit] NULL,
	[IsMultiple] [bit] NULL,
	[IsPrivate] [bit] NULL,
 CONSTRAINT [PK_UserChat] PRIMARY KEY CLUSTERED 
(
	[Chatid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 4/19/2020 3:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[UserID] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserPass] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[UserLogin] ([UserID], [UserName], [UserPass]) VALUES (1, N'Shashangka', N'12345')
INSERT [dbo].[UserLogin] ([UserID], [UserName], [UserPass]) VALUES (2, N'John', N'12345')
INSERT [dbo].[UserLogin] ([UserID], [UserName], [UserPass]) VALUES (3, N'Karim', N'12345')
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20200419-114105]    Script Date: 4/19/2020 3:58:25 PM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20200419-114105] ON [dbo].[UserChat]
(
	[Senderid] ASC,
	[Receiverid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
